ELK_VERSION=8.0.0
ELASTIC_HOST=https://localhost:9200
ELASTIC_USERNAME=elastic
ELASTIC_PASSWORD=changemeasap
SESSION_DURATION=900
FAIRLYTICS_SALT=asecretsalttoencrypipadresses
FAIRLYTICS_URL=http://localhost
FAIRLYTICS_SQLITE_DB=/app/db/fairlytics.db
MAILGUN_API_KEY=xxxx
MAILGUN_DOMAIN=xx
MAILGUN_SENDER=xx
MAILGUN_HOST=api.eu.mailgun.net
