.howto-section {
    background-color: #fff;
}

.howto-wrap {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    padding: 16px;
    
    &:first-child {
        margin-top: 16px;
    }

    &:last-child {
        margin-bottom: 16px;
    }
}

.howto-image {
    width:100%;
    height:auto;
    padding-top:6px;
}

.howto-text {
    width:100%;
    margin-bottom: 12px;
    padding:6px;
    text-align: justify;
}

@include media( '>medium' ) {
    .howto-image {
        width:40%;
        height:auto;
        padding-top:16px;
    }

    .howto-text {
        width:60%;
        padding:12px 24px 12px 12px;
    }
}